<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Gestionar Semillas</h1>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#crearsemilla"
      aria-expanded="false" aria-controls="flush-collapseOne">
      <i class="bi bi-bookmark-check-fill"></i> Crear Semilla
    </button>
  </div>
  <div class="accordion accordion-flush" id="crearprestamo">
    <div class="accordion-item my-3">
      <div id="crearsemilla" class="accordion-collapse collapse">
        <div class="accordion-body">

          <form action="/admin/semillas/addCreate" enctype="multipart/form-data" method="POST"
            class="p-4 bg-light rounded border">
            <h4 class="mb-4">
              <i class="bi bi-bookmark-check-fill"></i> Crear Semilla
            </h4>
            <fieldset>
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="fotoPath" class="form-label">
                    Foto de la Planta:
                  </label>
                  <input type="file" class="form-control" id="fotoPath" name="fotoPath" accept="image/*" required
                    multiple>
                </div>
                <div class="col-md-6">
                  <label for="stock" class="form-label">
                    Stock:
                  </label>
                  <input type="number" class="form-control" id="stock" name="stock" min="0" required>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="nombre" class="form-label">
                    Nombre:
                  </label>
                  <input type="text" class="form-control" id="nombre" name="nombre" required>
                </div>
                <div class="col-md-6">
                  <label for="descripcion" class="form-label">
                    Descripción:
                  </label>
                  <textarea class="form-control" id="descripcion" name="descripcion" required></textarea>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="epocaSiembra" class="form-label">
                    Época de Siembra:
                  </label>
                  <select class="form-control" id="epocaSiembra" name="epocaSiembra">
                    <option value="">Seleccione una época</option>
                    <option value="primavera">Primavera</option>
                    <option value="verano">Verano</option>
                    <option value="otoño">Otoño</option>
                    <option value="invierno">Invierno</option>
                  </select required>
                </div>
              </div>
            </fieldset>

            <!-- Mas campos -->
            <fieldset class="mt-4">
              <legend>
                <a href="#masCampos" data-bs-toggle="collapse" class="btn" role="button" aria-expanded="false"
                  aria-controls="masCampos">
                  Mas campos
                </a>
              </legend>
              <div class="collapse" id="masCampos">
                <div class="row mb-3">
                  <div class="col-md-6">
                    <label for="nombreCientifico" class="form-label">
                      Nombre Científico:
                    </label>
                    <input type="text" class="form-control" id="nombreCientifico" name="nombreCientifico">
                  </div>
                  <div class="col-md-6">
                    <label for="tipoDeSuelo" class="form-label">
                      Tipo de Suelo:
                    </label>
                    <input type="text" class="form-control" id="tipoDeSuelo" name="tipoDeSuelo">
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-md-6">
                    <label for="exposicionSolar" class="form-label">
                      Exposición Solar:
                    </label>
                    <input type="text" class="form-control" id="exposicionSolar" name="exposicionSolar">
                  </div>
                  <div class="col-md-6">
                    <label for="frecuenciaRiego" class="form-label">
                      Frecuencia de Riego:
                    </label>
                    <input type="text" class="form-control" id="frecuenciaRiego" name="frecuenciaRiego"
                      placeholder="Ej: Diaria, Semanal">
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-md-6">
                    <label for="cantidadRiego" class="form-label">
                      Cantidad de Riego (L):
                    </label>
                    <input type="number" class="form-control" id="cantidadRiego" name="cantidadRiego" min="0"
                      step="0.1">
                  </div>
                  <div class="col-md-6">
                    <label for="temperaturaIdeal" class="form-label">
                      Temperatura Ideal (°C):
                    </label>
                    <input type="number" class="form-control" id="temperaturaIdeal" name="temperaturaIdeal" min="-30"
                      max="50">
                  </div>
                </div>

                <div class="row mb-3">

                  <div class="col-md-6">
                    <label for="profundidadSiembra" class="form-label">
                      Profundidad de Siembra (cm):
                    </label>
                    <input type="text" class="form-control" id="profundidadSiembra" name="profundidadSiembra">
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-md-6">
                    <label for="espaciadoPlantas" class="form-label">
                      Espaciado entre Plantas (cm):
                    </label>
                    <input type="number" class="form-control" id="espaciadoPlantas" name="espaciadoPlantas" min="0">
                  </div>
                  <div class="col-md-6">
                    <label for="tiempoGerminacion" class="form-label">
                      Tiempo de Germinación (días):
                    </label>
                    <input type="number" class="form-control" id="tiempoGerminacion" name="tiempoGerminacion" min="0">
                  </div>
                </div>

                <div class="mb-3">
                  <label for="cuidadosPlantas" class="form-label">
                    Cuidados de la Planta:
                  </label>
                  <textarea class="form-control" id="cuidadosPlantas" name="cuidadosPlantas"
                    placeholder="Ej: Necesita riego moderado"></textarea>
                </div>
              </div>
            </fieldset>

            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-success mt-3 w-100">
                <i class="bi bi-check-circle-fill"></i> Crear Semilla
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
  <hr>
  <% if (semillas && semillas.length> 0) { %>
    <div class="row">
      <% semillas.forEach((semilla, index)=> { %>
        <div class="col-12">
          <div class="card table-striped table-hover shadow-lg p-3 bg-body-tertiary rounded my-3">
            <div class="card-body">
              <div class="row align-items-center">
                <!-- Información de la semilla -->
                <div class="col-lg-8 col-md-12">
                  <h4 class="card-title">
                    <%= semilla.nombre %> (<%= semilla.nombreCientifico %>)
                  </h4>
                  <p><span class="fw-bold">Descripción:</span>
                    <%= semilla.descripcion %>
                  </p>
                  <p class="card-text"><span class="fw-bold">Stock:</span>
                    <%= semilla.stock %>
                  </p>
                  <% if (semilla.fotoPath.length> 0) { %>
                    <% semilla.fotoPath.forEach(function(foto) { %>
                      <img src="<%= foto %>" alt="Foto de <%= semilla.nombre %>" class="img-thumbnail"
                        style="width: 100px; height: 100px;">
                      <% }); %>
                        <% } %>
                </div>

                <!-- Botones de acción -->
                <div class="col-lg-4 col-md-12 mt-3 mt-lg-0 d-grid gap-2">
                  <a href="/admin/semillas/update/<%= semilla._id %>" class="btn btn-warning">
                    <i class="bi bi-pencil-square"></i> Editar
                  </a>
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#confirmDeleteModal" data-id="<%= semilla._id %>">
                    <i class="bi bi-trash"></i> Eliminar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% }); %>

          <!-- Modal de Confirmación -->
          <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar eliminación</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  ¿Estás seguro de que quieres eliminar esta semilla? Esta acción no se puede deshacer.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn bg-dark" data-bs-dismiss="modal">Cancelar</button>
                  <form id="deleteForm" action="" method="POST">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
    </div>

    <nav aria-label="Paginación">
      <ul class="pagination justify-content-center">
        <!-- Página anterior -->
        <% if (paginaActual> 1) { %>
          <li class="page-item">
            <a class="page-link" href="/admin/semillas/?pagina=<%= paginaActual - 1 %>">
              <i class="bi bi-arrow-left"></i> Anterior
            </a>
          </li>
          <% } %>

            <!-- Páginas numeradas -->
            <% for (let i=1; i <=totalPaginas; i++) { %>
              <li class="page-item <%= i === paginaActual ? 'active' : '' %>">
                <a class="page-link" href="/admin/semillas/?pagina=<%= i %>">
                  <%= i %>
                </a>
              </li>
              <% } %>

                <!-- Página siguiente -->
                <% if (paginaActual < totalPaginas) { %>
                  <li class="page-item">
                    <a class="page-link" href="/admin/semillas/?pagina=<%= paginaActual + 1 %>">
                      Siguiente <i class="bi bi-arrow-right"></i>
                    </a>
                  </li>
                  <% } %>
      </ul>
    </nav>

    <% } else { %>
      <div class="col-12 text-center">
        <p class="text-muted">No hay semillas registradas.</p>
      </div>
      <% } %>


        <!-- Controles de paginación -->


</div>

<script src="/js/gestionSemillas.js"></script>