<div class="container mt-5">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Gestionar Préstamos</h1>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#crearprestamo"
            aria-expanded="false" aria-controls="flush-collapseOne">
            <i class="bi bi-bookmark-check-fill"></i> Crear prestamo
        </button>
    </div>

    <div class="accordion accordion-flush">
        <div class="accordion-item my-3">
            <div id="crearprestamo" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <form action="/admin/prestamos/crearPrestamo" method="post" class="p-4 bg-light rounded border">
                        <h4 class="mb-4">
                            <i class="bi bi-bookmark-check-fill"></i> Crear Préstamo
                        </h4>

                        <div class="mb-3">
                            <label for="user-select" class="form-label">Seleccionar Usuario</label>
                            <select id="user-select" name="idUser" class="form-select" required>
                                <option selected disabled>Selecciona un usuario registrado</option>
                                <% if (users && users.length> 0) { %>
                                    <% users.forEach(({ _id, username, email })=> { %>
                                        <option value="<%= _id %>">
                                            <%= username %> (<%= email %>)
                                        </option>
                                        <% }) %>
                                            <% } else { %>
                                                <option disabled>No hay usuarios disponibles</option>
                                                <% } %>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="seed-select" class="form-label">Seleccionar Semilla</label>
                            <select id="seed-select" name="idSemilla" class="form-select" required>
                                <option selected disabled>Elige una semilla disponible</option>
                                <% if (semillas && semillas.length> 0) { %>
                                    <% semillas.forEach(({ _id, nombre, stock })=> { %>
                                        <option value="<%= _id %>">
                                            <%= nombre %> (Stock: <%= stock %>)
                                        </option>
                                        <% }) %>
                                            <% } else { %>
                                                <option disabled>No hay semillas disponibles</option>
                                                <% } %>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="stock" class="form-label">Cantidad a Prestar </label>
                            <input type="number" id="stock" name="cantidadSemillas" class="form-control"
                                placeholder="Cantidad de semillas a prestar" required>
                        </div>

                        <button type="submit" class="btn btn-success w-100">
                            <i class="bi bi-check-circle-fill"></i> Crear Préstamo
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="mb-3 p-4 shadow-sm bg-light rounded">
            <h4 class="mb-3 d-flex align-items-center gap-2">
                <i class="bi bi-calendar-check"></i>Filtrar por email
            </h4>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-search"></i></span>
                <input type="text" id="buscadorPrestamos" class="form-control"
                    placeholder="Buscar prestamos por correo electrónico">
            </div>
        </div>

        <div class="row content">

        </div>

        <!-- Modal de Confirmación -->
        <div class="modal fade" id="devueltoModal" tabindex="-1" aria-labelledby="devueltoModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content shadow">
                    <!-- Encabezado del modal -->
                    <div class="modal-header bg-cuaternario text-white">
                        <h5 class="modal-title" id="devueltoModalLabel">
                            <i class="bi bi-check-circle-fill"></i> Confirmar Devolución
                        </h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-label="Cerrar"></button>
                    </div>
                    <!-- Cuerpo del modal -->
                    <div class="modal-body">
                        <p class="text-center fs-5">
                            ¿Estás seguro de que deseas marcar este préstamo como <span class="fw-bold">devuelto</span>?<br>
                            <span class="text-muted">Esta acción no se puede deshacer.</span>
                        </p>
                        <form id="devueltoForm" action="/admin/prestamos/devuelto" method="POST">
                            <!-- ID del préstamo (oculto) -->
                            <input type="hidden" name="idPrestamo" id="modalPrestamoId">
                            <!-- Cantidad de semillas devueltas -->
                            <div class="mb-3">
                                <label for="seedsReturned" class="form-label fw-bold">Cantidad de semillas
                                    devueltas:</label>
                                <input type="number" class="form-control" id="seedsReturned" name="seedsReturned"
                                    placeholder="Ingresa la cantidad de semillas" min="1" required>
                            </div>
                            <!-- Botones de acción -->
                            <div class="d-flex justify-content-end">
                                <button type="button" class="btn bg-dark me-2" data-bs-dismiss="modal">
                                    Atras
                                </button>
                                <button type="submit" class="btn btn-success">
                                    <i class="bi bi-check-circle"></i> Confirmar Devolución
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Controles de Paginación -->
        <nav aria-label="Paginación" class="my-5">
            <ul id="paginacion" class="pagination justify-content-center">
                <!-- Los elementos de paginación se generarán dinámicamente -->
            </ul>
        </nav>
    </div>
</div>

<script src="/js/cpanelPrestamos.js"></script>